.actions {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50px;
  &--drop-menu {
    background: rgb(204, 204, 204) !important;
    position: absolute;
    top: 40px;
    right: 30px;
    border-radius: 10px;
  }
}

.action {
  margin: 0 !important;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}
